$color-blue: #173f5f;
$color-blue-light: #20639b;

.converter {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  * {
    box-sizing: border-box;
  }

  &-block {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  &-input-textarea,
  &-output-textarea {
    border: 1px solid #cccccc;
    font-size: 14px;
    min-height: 150px;
    padding: 20px;
    resize: vertical;
    width: 100%;
  }

  &-label {
    color: $color-blue;
    margin-bottom: 5px;
  }

  &-input-textarea {
    margin-bottom: 20px;
  }

  &-output-textarea {
    border: 1px solid #ebebeb;
  }

  &-types-block {
    margin-bottom: 20px;
  }

  &-radio-wrapper {

    & + & {
      margin-top: 8px;
    }
  }

  &-radio-label {
    align-items: baseline;
    display: flex;
  }

  &-radio {
    opacity: 0;
    position: absolute;
  }

  &-radio-ui {
    align-items: center;
    border: 1px solid #c1c1c1;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    padding: 4px;

    &::after {
      $size: 8px;

      background-color: transparent;
      border-radius: 50%;
      content: '';
      height: $size;
      width: $size;
    }

    input:checked + & {

      &::after {
        background-color: $color-blue-light;
      }
    }
  }

  &-radio-text {
    display: flex;
    margin-left: 5px;
    width: 100%;

    span {
      flex: 1 1 auto;

      &:first-child {
        flex: 0 0 30%;
      }
    }
  }
}